<header>
    <nav class="nav-extended">
        <div class="container center">
            <div class="row">
                <h1 class="home">For the Love of Coffee</h1>
                <div>
                    <div>
                        <ul>
                        <li><a href="/recipes" class="nav-link">All Coffee Recipes</a></li>
                        <% if(currentUser) { %>
                        <li><a href="/recipes/new" class="nav-link">Add New Recipe</a></li>
                        <span class="welcome">Welcome <%= currentUser.username %></span>
                        <form action="/sessions?_method=DELETE" method="post">
                            <input type="submit" value="Log Out">
                        </form>
                        <% } else { %>
                        <li><a href="/users/new" class="nav-link">Sign Up</a></li>
                        <li><a href="/sessions/new" class="nav-link">Log In</a></li>
                        <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <nav class="nav-extended">
</header>