<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body class="Coffee-Recipes">
  <%- include ('./partials/header.ejs') %>
    <!-- <h4>Add new Recipes</h4>
    <a href="/recipes/new">Add New Recipe</a> -->
    <div>
      <% for(let i = 0; i < recipes.length; i++) { %>
            <a href="/recipes/<%= recipes[i]._id %>">
                <h3><% recipes[i].name %></h3>
            </a>
        <% } %>
    </div>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>