<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Coffee | <%= tabTitle %></title>
        <link rel="stylesheet" href="/css/style.css">
     </head>
<body class="Coffee-Recipes">
  <%- include ('./partials/header.ejs') %>
    <!-- <h4>Add new Recipes</h4>
    <a href="/recipes/new">Add New Recipe</a> -->
    <ul>
      <% for(let i = 0; i < recipes.length; i++) { %>
            <a href="/recipes/<%= recipes[i]._id %>">
                <% recipes[i].name %>
            </a>
        <% } %>
    </ul>
    <footer class="fixed-bottom text-center bg-light p-2">
        <span>℗ 2024</span>
        <span>General Assembly</span>
    </footer>
</body>
</html>