<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body class="Coffee-Recipes">
    <%- include ('./partials/header.ejs') %>
    <h3>New Coffee Recipes</h3>
    <form action="/recipes" method="POST" class="container-sm bg-light p-3">
        <div>
            <div>
                <label for="name" class="form-label">Coffee</label>
                <input 
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Coffee Name">
            </div>
            <div>
                <label for="description" class="form-label">Description</label>
                <input 
                    type="text"
                    class="form-control"
                    name="description"
                    id="description"
                    placeholder="Description">
            </div>
            <div>
                <label for="ingredients" class="form-label">Ingredients</label>
                <input 
                    type="text"
                    class="form-control"
                    name="ingredients"
                    id="ingredients"
                    placeholder="Ingredients">
            </div>
            <div>
                <label for="instructions" class="form-label">Instructions</label>
                <input 
                    type="text"
                    class="form-control"
                    name="instructions"
                    id="instructions"
                    placeholder="Instructions">
            </div>
            <div>
                <label for="image" class="form-label">Image</label>
                <input 
                    type="text"
                    class="form-control"
                    name="image"
                    id="image"
                    placeholder="Image">
            </div>
        </div>
        <div>
            <input type="submit" value="Create Recipe" class="btn btn-primary">
    </form>
    <%- include ("./partials/footer.ejs") %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</body>
</html>