body {
    background-image: url("");
}
.Coffee-Recipes {
    background-color: antiquewhite;
}
header, ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    list-style: none;
    flex-direction: row;
}

.flex-item {
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    flex-direction: row;
}

header, .home {
    color: black;

}

header, .container {
    display: flex;
}

nav {
    background-color: saddlebrown;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.home {
    background-color:  rgb(205, 166, 114);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
}

.Coffee-Recipes {
    background-color: antiquewhite;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

.card-panel {
    background-color: rgb(205, 166, 114);
}

.card {
    background-color: antiquewhite;
    padding: auto;
    margin: auto;
    border-radius: 10px;
    
}

.card-content {
    background-color: antiquewhite;
    padding: auto;
    margin: auto;
    border-radius: 10px;    
}