<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/sessions" method="post">
        username: <input required type="text" name="username"><br>
        password: <input required type="text" name="password"><br>
        <input type="submit" name="" value="Login">
    </form>
</body>
</html>