<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All Coffee | <%= tabTitle %></title>
        <link rel="stylesheet" href="/css/style.css">
     </head>
<body>
    <header class="navbar bg-light opacity-75">
        <div class="container">
          <h1>Fruits App</h1>
          <a class="nav-link" href="/recipes">All Recipes</a>
          <% if (currentUser) { %>
            <a class="nav-link" href="/recipes/new">Create a new Coffee recipe</a>
            <li class="nav-link">Welcome <%= currentUser.username %></li>
            <li class="nav-link">
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Log Out" />
              </form>
            </li>
            <% } else { %>
            <li><a class="nav-link" href="/users/new">Sign Up</a></li>
            <li><a class="nav-link" href="/sessions/new">Log In</a></li>
            <% } %>
        </div>
      </header>
    <h1>Coffee Recipes</h1>
    <a href="/recipes/new">Add New Recipe</a>
    <ul>
      <% for (let i = 0; i < recipes.length; i++) { %>
        <li>
            <a href="/recipes/<%= recipes[i]._id %>"><% recipes[i].name %></a>
        </li>
        <% } %>
    </ul>
    <footer class="fixed-bottom text-center bg-light p-2">
        <span>℗ 2024</span>
        <span>General Assembly</span>
    </footer>
</body>
</html>